.feedbacks-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100px;
  margin: 20px;
  padding: 0;
}

.feedback-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-name::first-letter {
  text-transform: uppercase;
}

.total,
.percentage {
  font-weight: 500;
}
